@model TestTriangleHOA.Web.Models.BaseResponse<TestTriangleHOA.Web.Models.QueryCustomerModel>
<section class="content-header">
    <h1>
        Customers
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Customers</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Customers</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="customers" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Adress</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Phone</th>
                                <th>CreatedOn</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Data != null && Model.Data.Count > 0)
                            {
                                @foreach (var item in Model.Data)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                                        <td>@Html.DisplayFor(modelItem => item.State)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Country)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                        <td><a href="Customer/UpdateCustomer/@item.CustomerId">Update</a> | <a href="" onclick="Delete('@item.CustomerId')">Delete</a> | <a href="Ticket/Index/?customerId=@item.CustomerId">View Tickets</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="9" align="center">No customer available</td>
                                </tr>
                            }
</table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- DataTables -->
<script src="~/dist/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/dist/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        $('#customers').DataTable();
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "DELETE",
                url: '@Url.Action("Delete", "Customer")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Customer";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }
</script>